extends layout.pug


block append head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Good Games - #{game.name}
        body
            block append header
                head
                    div
                        h1 #{game.name}
                        img(src=game.game_img, alt="#{game.name}")
                        p #{game.description}
                        p Developer: #{game.developer}
                        p Publisher: #{game.publisher}
                        p Genre: #{game.genre}
                        p Release Date: #{game.release_date}
                
                    div(class="rate")
                        input(type="radio" id="star1" name="rate" value="1")
                        label(for="star1" title="text")
                        input(type="radio" id="star2" name="rate" value="2")
                        label(for="star2" title="text")
                        input(type="radio" id="star3" name="rate" value="3")
                        label(for="star3" title="text")
                        input(type="radio" id="star4" name="rate" value="4") 
                        label(for="star4" title="text")
                        input(type="radio" id="star5" name="rate" value="5")
                        label(for="star5" title="text")

                            