extends layout.pug

block append head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/stylesheets/shelves-page.css")
    //- title Good Games - #{currentUser}
    title Game Shelves

        body
            block append header
                head
                    div(class="shelf_pageContainer")
                        div(class="shelf_add")
                            label(for="shelf_name")
                            input(type="text" id="shelf_name" name="shelf_name" value placeholder="Shelf Name" required)
                            button(type="submit" id="shelf_submit" value="Submit") Create Shelf
                        div(class="shelf_list")
                            each shelf in gameShelves
                                div(class="each_shelf" id=`${shelf.id}`)= shelf.shelf_name
                                    button(type="submit" value="Delete Shelf" class="delete_button" id=`${shelf.id}`) Delete Shelf
                                    div(class="eachShelf_container")
                                        each game in shelf.Games
                                            div(class="gameBox")
                                                a(href=`/games/${game.id}`)
                                                    img(class="gameImage" src=game.game_img, alt="#{game.name}")
                                        div(class="shelf_gamesLink")
                                            form(action="/games" method="get" )
                                              input(class="shelf_gamesButton" type="submit" value="Click here to find games to add to your shelf!")
                                            //-     a
                                        //- each game in Shelf_Entry
                                        //-     div()= game.gameId
