extends layout.pug


block append head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/stylesheets/game-page.css")
    title Good Games - #{game.name}
block append main
    body
        div(class='gameInfo')
            h1 #{game.name}
            img(src=game.game_img, alt="#{game.name}")
            p #{game.description}
            p Developer: #{game.developer}
            p Publisher: #{game.publisher}
            p Genre: #{game.genre}
            p Release Date: #{game.release_date}
            select(name='image')
                each shelf in shelves
                    option(value=shelves.shelf_name selected=shelves.id)
            button Add to Shelf

        div(class='userReview')
            h1 Your Review
            p #{userReview.User.user_name}
            form(action="/games/reviews" method="post")
                input(type="hidden" name="_csrf" value=token)
                input(type="hidden" name="gameId" value=game.id)
                input(type="hidden" name="userId" value=1)
                //- placeholder ^^^^^^
                div
                div(class="rate")
                    if userReview.rating == 5
                        input(type="radio" id="star5" name="rating" value=5 checked)
                    else
                        input(type="radio" id="star5" name="rating" value=5)
                    label(for="star5" title="text") 5 stars

                    if userReview.rating == 4
                        input(type="radio" id="star4" name="rating" value=4 checked)
                    else
                        input(type="radio" id="star4" name="rating" value=4)
                    label(for="star4" title="text") 4 stars

                    if userReview.rating == 3
                        input(type="radio" id="star3" name="rating" value=3 checked)
                    else
                        input(type="radio" id="star3" name="rating" value=3)
                    label(for="star3" title="text") 3 stars

                    if userReview.rating == 2
                        input(type="radio" id="star2" name="rating" value=2 checked)
                    else
                        input(type="radio" id="star2" name="rating" value=2)
                    label(for="star2" title="text") 2 stars

                    if userReview.rating == 1
                        input(type="radio" id="star1" name="rating" value=1 checked)
                    else
                        input(type="radio" id="star1" name="rating" value=1)
                    label(for="star1" title="text") 1 star

                label(for="review")
                textarea(type="text" id="review" rows='6' cols='60' name="review" required) #{userReview.review}
                input(type="submit" value="Submit")
            form(action="/games/reviews" method="delete")
                input(type="button" value="delete")
        div(class='reviews')
            h1 Reviews
            each review in reviews
                if review.User.user_name !== userReview.User.user_name
                    div(class='reviewEntry')
                        p #{review.User.user_name}
                        div(class='staticRating')
                            if review.rating == 1
                                p ★
                            else if review.rating == 2
                                p ★★
                            else if review.rating == 3
                                p ★★★
                            else if review.rating == 4
                                p ★★★★
                            else if review.rating == 5
                                p ★★★★★
                        p #{review.review}
